.DS_Store
shared/nvim/.config/nvim/lua/shortcuts.lua
shared/nvim/.config/nvim/lazy-lock.json
shared/ranger/.config/ranger/shortcuts.conf
shared/bash/.config/bash/shortcuts.sh
shared/bash/.config/bash/nav_config.json
shared/bash/.config/bash/nav_folders.json
