.DS_Store
shared/nvim/.config/nvim/lua/shortcuts.lua
shared/nvim/.config/nvim/lazy-lock.json
shared/ranger/.config/ranger/shortcuts.conf
shared/bash/.config/bash/shortcuts.sh
shared/bash/.config/bash/nav_config.json
shared/bash/.config/bash/nav_folders.json
!shared/claude/.claude
shared/claude/.claude/cache
shared/claude/.claude/debug
shared/claude/.claude/file-history
shared/claude/.claude/paste-cache
shared/claude/.claude/plans
shared/claude/.claude/projects
shared/claude/.claude/shell-snapshots
shared/claude/.claude/statsig
shared/claude/.claude/telemetry
shared/claude/.claude/todos
shared/claude/.claude/__store.db
shared/claude/.claude/history.jsonl
shared/claude/.claude/stats-cache.json
shared/claude/.claude/settings.json
